@use "../../../styles/vars" as *;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 55px;
  padding-top: 40px;
  position: relative;
  @media screen and (max-width: 768px) {
    padding-left: 24px;
    padding-top: 24px;
  }

  .container {
    display: flex;
    background-color: rgba(151, 151, 151, 0.3);

    @media screen and (max-width: 668px) {
      display: none;
    }
  }

  .ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    text-transform: uppercase;
    margin: 39px 167px 0 123px;
    color: $primary;

    @media screen and (max-width: 1175px) {
      margin: 39px 46px 0 48px;
      font-size: 14px;
    }

    @media screen and (max-width: 768px) {
      gap: 37px;
    }
  }
  .li a {
    text-decoration: none;
    color: $primary;
    font-weight: 300;
    letter-spacing: 2.7px;
    height: 45px;
    display: block;
  }

  .li a:hover {
    opacity: 0.5;
  }
  .line {
    width: 200px;
    border-top: 1px solid #ffff;
    opacity: 0.5;
    width: 100%;
    margin-left: 64px;
    margin-right: -40px;
    z-index: 1;
  }
  .number {
    margin-right: 14px;
    font-weight: 500;

    @media screen and (max-width: 1175px) {
      display: none;
    }
  }

  .active {
    border-bottom: 2px solid white;
  }

  .line {
    @media screen and (max-width: 1175px) {
      display: none;
    }
  }

  .logo {
    @media screen and (max-width: 375px) {
      width: 40px;
      height: 40px;
    }
  }
}
