@use "../../../styles/vars" as *;
.container {
  width: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(50px);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.ul {
  list-style-type: none;
  gap: 50px;
  text-transform: uppercase;
  margin: 118px 167px 0 32px;
  color: $primary;
  font-size: 16px;
  text-align: left;
}

.li {
  margin-bottom: 32px;
}
.li a {
  text-decoration: none;
  color: $primary;
  font-weight: 300;
  letter-spacing: 2.7px;
  height: 45px;
  display: block;
}

.number {
  margin-right: 14px;
  font-weight: 500;
}
