.container {
  display: flex;
  padding: 251px 165px 0 165px;
  justify-content: space-between;
  align-items: end;

  @media screen and (max-width: 1100px) {
    padding: 106px 40px 0 40px;
  }
  @media screen and (max-width: 830px) {
    padding: 106px 0px 0 0;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media screen and (max-width: 330px) {
    flex-direction: column;
    align-items: center;
  }
}

.title {
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 4.72px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    text-align: center;
  }

  @media screen and (max-width: 550px) {
    font-size: 16px;
  }
}

.title span {
  font-size: 150px;
  display: block;
  letter-spacing: 0;
  margin-top: 24px;
  font-family: "Bellefair", serif;

  @media screen and (max-width: 550px) {
    font-size: 80px;
  }
}

.textContainer {
  max-width: 450px;
}

.text {
  font-size: 20px;
  text-align: left;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 32px;

  @media screen and (max-width: 768px) {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }
  @media screen and (max-width: 550px) {
    font-size: 15px;
  }
}

.imgContainer {
  position: relative;
  width: 274px;
  height: 274px;
  cursor: pointer;
  margin-top: 156px;

  @media screen and (max-width: 768px) {
    margin-bottom: 90px;
    margin-top: 90px;
    width: 242px;
    height: 242px;
  }
  @media screen and (max-width: 550px) {
    margin-bottom: 51px;
    width: 150px;
    height: 150px;
  }
}
.imgOpacity {
  background-color: #ffff;
  opacity: 0.5;
  width: 274px;
  height: 274px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  border-radius: 50%;
  @media screen and (max-width: 768px) {
    width: 242px;
    height: 242px;
  }
  @media screen and (max-width: 550px) {
    width: 150px;
    height: 150px;
  }
}

.img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;

  @media screen and (max-width: 768px) {
    width: 242px;
    height: 242px;
  }

  @media screen and (max-width: 550px) {
    width: 150px;
    height: 150px;
  }
}
