.App {
  text-align: center;
  background-image: url(./images/nightSky.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  color: #ffff;
  font-family: "Barlow Condensed", sans-serif;
}
