.app {
  text-align: center;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  color: #ffff;

  background-color: black;
  position: relative;
  overflow-x: hidden;
  transition: background-image 0.9s ease-in-out;
}

.destination {
  background-image: url(./images/destination.png);
}

.crew {
  background-image: url(./images/crew.png);
}

.technology {
  background-image: url(./images/technology.png);
}

.home {
  background-image: url(./images/home.png);
  @media screen and (max-width: 550px) {
    background-image: url(./images/homeMobile.png);
  }
}
